 @import url(./Colors.css);

.btn {
    background: var(--maincolour);
    color: #fff;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background: var(--primaryselected);
    padding: 10px 24px;
    transition: all 0.3s ease-out;
    transition: 250ms;
}
